<!DOCTYPE html>
<html lang="en">
  <!-- molla/index-4.html  22 Nov 2019 09:53:08 GMT -->
  <head>
    <base href="http://localhost:3000/">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>e-shopee</title>
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Molla - Bootstrap eCommerce Template" />
    <meta name="author" content="p-themes" />
    <link rel="shortcut icon" href="assets/e-logo.webp" />

    <meta name="apple-mobile-web-app-title" content="e shopee" />
    <meta name="application-name" content="e shopee" />
    <meta name="msapplication-TileColor" content="#cc9966" />
    <meta
      name="msapplication-config"
      content="assets/images/icons/browserconfig.xml"
    />
    <meta name="theme-color" content="#ffffff" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script><!-- SweetAlert CSS -->    
    <!-- SweetAlert JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <!-- Include the Spin.js library from a CDN -->

    <script src="/javascripts/script.js"></script>

    

    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/plugins/magnific-popup/magnific-popup.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/plugins/nouislider/nouislider.css">
    <link rel="stylesheet" href="/assets/css/demos/demo-11.css">
    <!-- <link rel="stylesheet" href="assets/css/skins/skin-demo-4.css" /> -->
    <link rel="stylesheet" href="assets/css/demos/demo-4.css" />
<style>
   .resend-link {
      text-decoration: none;
      color: #000;
      font-weight: bold;
      display: block;
      margin-top: 10px;
      cursor: pointer;
    }
    .resend-link:hover {
      color: #007bff;
    }
    .wallet-card {
  background-color: #e3cd6b;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  display: none; /* hide initially */
}

.wallet-card h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.wallet-card .wallet-amount {
  font-size: 32px;
  font-weight: bold;
  margin-top: 10px;
}
 
</style>
   
      
</html>
