<%- include('includes/header') -%> <%- include('includes/user-header') -%>

<section>
  <main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
      <div class="container">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            Change Password
          </li>
        </ol>
      </div>
    </nav>

    <div
      class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17"
      style="background-image: url('assets/images/backgrounds/bg_mesh.jpg')"
    >
      <div class="container">
        <div class="form-box">
          <div class="form-tab">
            <ul class="nav nav-pills nav-fill" role="tablist">
              <li class="nav-item">
                <a class="nav-link active">Change Password</a>
              </li>
            </ul>

            <!-- REGISTRATION FORM -->
            <div
              class="tab-pane fade show active"
              id="register-2"
              role="tabpanel"
              aria-labelledby="register-tab-2"
            >
              <form
                id="userForm"
                action="/change-password"
                id="userForm"
                method="post"
              >
                <div class="form-group">
                  <label for="registerPassword">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="registerPassword"
                    name="changedPassword"
                    required
                    onblur="validatePassword()"
                  />
                  <label
                    id="password-error"
                    class="errorLabel text-danger"
                    for="registerPassword"
                  ></label>
                </div>
                <!-- End .form-group -->

                <div class="form-group">
                  <label for="registerPassword">Confirm Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="confirmPassword"
                    required
                    onblur="checkPassword()"
                  />
                  <label
                    id="confirmPassword-error"
                    class="errorLabel text-danger"
                    for="confirmPassword"
                  ></label>
                </div>
                <!-- End .form-group -->

                <div class="form-footer">
                  <button
                    id="button"
                    name="button"
                    type="submit"
                    class="btn btn-outline-primary-2"
                  >
                    Change Password
                  </button>
                  <label
                    id="submit-error"
                    class="errorLabel text-danger"
                    for="button"
                  ></label>
                  <% if (Err) { %>
                  <p class="text-center" style="color: rgb(0, 173, 58)">
                    Something went wrong!
                  </p>
                  <% } %>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</section>
<script>
  const passwordError = document.getElementById("password-error");
  const confirmPasswordError = document.getElementById("confirmPassword-error");

  function validatePassword() {
    var password = document.getElementById("registerPassword").value;
    if (password == "") {
      passwordError.innerHTML = "Password cannot be blank";
      return false;
    }
    if (!password[0].match(/^(?=.*[A-Z])/)) {
      passwordError.innerHTML = "First letter should be capital";
      return false;
    }

    if (password.length < 8) {
      passwordError.innerHTML = "Atleast 8 characters";
      return false;
    }

    if (!password.match(/^(?=.*[0-9])/)) {
      passwordError.innerHTML = "Atleast use one number";
      return false;
    }
    if (!password.match(/^(?=.*[!@#$%^&*])/)) {
      passwordError.innerHTML = "Atleast use one special character";
      return false;
    }
    if (!password.match(/^(?=.*[a-z])/)) {
      passwordError.innerHTML = "Use atleast one lowercase letter";
      return false;
    }
    passwordError.innerHTML = "";
    return true;
  }

  function checkPassword() {
    var password = document.getElementById("registerPassword").value;
    var Cpassword = document.getElementById("confirmPassword").value;
    if (password !== Cpassword) {
      confirmPasswordError.innerHTML = "Password Missmatching";
      return false;
    }
    confirmPasswordError.innerHTML = "";
    return true;
  }
  function validateForm() {
    if (!validatePassword() || !checkPassword()) {
      submitError.innerHTML = "Please fix all errors to submit.";
      setTimeout(function () {
        submitError.style.display = "none";
      }, 3000);
      return false;
    } else {
      document.getElementById("userForm").submit();
    }
  }
</script>
<%- include('includes/footerpartial') -%>
