<%- include('includes/header') -%> <%- include('includes/user-header') -%>
<div
  class="page-header text-center"
  style="background-image: url('assets/images/page-header-bg.jpg')"
>
  <div class="container">
    <h1 class="page-title" style="font-weight: 500">Shopping Cart.</h1>
  </div>
</div>
<nav aria-label="breadcrumb" class="breadcrumb-nav">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
    </ol>
  </div>
</nav>
<section>
  <div
    class="container d-flex flex-column align-items-center justify-content-center mb-3"
  >
    <h1>Your cart is empty</h1>
    <p>Add some products to your cart and start shopping!</p>
    <a href="/">  <button class="btn btn-primary">Add Products</button></a>
  </div>
</section>
<!-- Bootstrap JS -->

<!-- JavaScript to handle pop-up modal -->

<%- include('includes/footerpartial') -%>
