<%- include('includes/header') -%> <%- include('includes/user-header') -%>

<div class="page-error">
  <img
    class="header-center"
    src="/assets/paymentfaild.jpg"
    alt="Page Error"
    style="width: 50rem; height: auto"
  /><br />
  <div class="container-fluid">
    <h3 class="text-center" style="font-weight: 600; color:black">
      Unfortunately, something went wrong - please try again later!
    </h1>
    <h5 class="text-center" style="color: #3c0d51"></h5>
    <h5 class="text-center" style="color: #3c0d51"></h5>
    <div class="header-center col-6 col-lg-6 col-xl-2">
      <div class="btn-wrap">
        <a href="/" class="btn btn-primary btn-round"
          ><span>Continue Shopping</span><i class="icon-long-arrow-right"></i
        ></a>
      </div>
      <!-- End .btn-wrap -->
    </div>
    <!-- End .col-md-4 col-lg-2 -->
  </div>
</div>

<h1></h1>
<%- include('includes/footerpartial') -%>
