
<%- include('includes/header') -%> <%- include('includes/user-header') -%>

<section>
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title" style="font-weight: 500;">Order Success. &#10003;</h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->

    <div class="header-center">
        <div class="container mt-5">
            <a href="/" class="btn btn-outline-primary-2 mx-3"><span>Continue Shopping</span><i
                    class="icon-refresh"></i></a>

            <a href="/orders" class="btn btn-outline-primary-2 mx-3"><span>View Products</span><i
                    class="icon-cart-plus"></i></a>
        </div>
    </div>
</section>
