<footer class="main-footer font-xs">
    <div class="row pb-30 pt-15">
      
      
      <div class="col-sm-6">
        <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>
          document.write(new Date().getFullYear())
          </script>
        ©, e shopee</div>
      <div class="col-sm-6">
        <div class="text-sm-end">All rights reserved</div>
      </div>
    </div>
  </footer>
</main>

<script src="../adminassets///js/vendors/jquery-3.6.0.min.js"></script>
<script src="../adminassets///js/vendors/bootstrap.bundle.min.js"></script>
<script src="../adminassets///js/vendors/select2.min.js"></script>
<script src="../adminassets///js/vendors/perfect-scrollbar.js"></script>
<script src="../adminassets///js/vendors/jquery.fullscreen.min.js"></script>
<script src="../adminassets///js/vendors/chart.js"></script>
<!-- Main Script -->
<script src="../adminassets///js/main.js" type="text/javascript"></script>
<script
  src="../adminassets///js/custom-chart.js"
  type="text/javascript"
></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js" integrity="sha384-GXRiS9OkY5BvVM5SY5Q5ih5K4TVanWquTE3qA4xtsknU6L9ibW6ySeITvAP5Q/7A" crossorigin="anonymous"></script>

   
<script>
  function handleChange(event) {
    const status = event.target.value;
    const url = `/admin/view-user?status=${status}`;
    window.location.href = url;
  }

  $(document).ready(function () {
    $("#myTable").DataTable();
  });

  function cropImage() {
  // Get the Cropper instance for each input field
  var cropper1 = $("#image1").cropper("getCropperData");
  var cropper2 = $("#image2").cropper("getCropperData");
  var cropper3 = $("#image3").cropper("getCropperData");
  var cropper4 = $("#image4").cropper("getCropperData");

  // Get the cropped image data for each input field as a base64-encoded JPEG image
  var croppedImageDataURL1 = $("#image1").cropper("getCroppedCanvas").toDataURL("image/jpeg");
  var croppedImageDataURL2 = $("#image2").cropper("getCroppedCanvas").toDataURL("image/jpeg");
  var croppedImageDataURL3 = $("#image3").cropper("getCroppedCanvas").toDataURL("image/jpeg");
  var croppedImageDataURL4 = $("#image4").cropper("getCroppedCanvas").toDataURL("image/jpeg");

  // Update the input fields with the cropped image data
  $("#image1").val(croppedImageDataURL1);
  $("#image2").val(croppedImageDataURL2);
  $("#image3").val(croppedImageDataURL3);
  $("#image4").val(croppedImageDataURL4);
}


 

</script>
</body>

<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:57 GMT -->
</html>
