<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <base href="http://www.eshopee.com/"> -->
     <meta charset="utf-8" />
    <title>e shopee Admin</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />


    <link href="/css/main.css" rel="stylesheet" type="text/css" />


    <!-- SweetAlert CSS -->    
    <script src="/node_modules/@eastdesire/jscolor/jscolor.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
    <script src="/javascripts/adminscript.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" integrity="sha384-NtXgY1V7aJ/mzthE+0atFgrtxa/7oGoi26xq2/ZD1lcXJQ2zXdD1So0d51I+beP8N" crossorigin="anonymous" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css"
    />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">
    <script>
      // These options apply to all color pickers on the page
      jscolor.presets.default = {
        width: 201,
        height: 81,
        position: "right",
        previewPosition: "right",
        backgroundColor: "#f3f3f3",
        borderColor: "#bbbbbb",
        controlBorderColor: "#bbbbbb",
        palette: [
          "#000000",
          "#7d7d7d",
          "#870014",
          "#ec1c23",
          "#ff7e26",
          "#fef100",
          "#22b14b",
          "#00a1e7",
          "#3f47cc",
          "#a349a4",
          "#ffffff",
          "#c3c3c3",
          "#b87957",
          "#feaec9",
          "#ffc80d",
          "#eee3af",
          "#b5e61d",
          "#99d9ea",
          "#7092be",
          "#c8bfe7",
        ],
        paletteCols: 10,
        hideOnPaletteClick: true,
      };
    </script>

    <style>
      #color-picker {
        width: 100px;
        height: 100px;
        border: 1px solid #ccc;
        cursor: pointer;
      }
      .color-picker {
        background-color: #fff;
      }
    </style>
  </head>

  <body>
    <aside class="navbar-aside" id="offcanvas_aside">
      <div class="aside-top">
       
        <a href="../admin" class="brand-wrap">
          <p class="text-primary" style="font-size: 2rem" alt="e sopee Logo">
            e shopee
          </p>
        </a>
        <div>
          <button class="btn btn-icon btn-aside-minimize">
            <i class="text-muted material-icons md-menu_open"></i>
          </button>
        </div>
      </div>
      <nav>
        <ul class="menu-aside">
          <li class="menu-item">
            <a class="menu-link" href="/admin/dashboard">
              <i class="icon material-icons md-home"></i>
              <span class="text">Dashboard</span>
            </a>
          </li>
          <li class="menu-item has-submenu">
            <a class="menu-link" href="/admin/products">
              <i class="icon material-icons md-shopping_bag"></i>
              <span class="text">Products</span>
            </a>
            <div class="submenu">
              <a href="/admin/products">Products</a>
              <a href="/admin/add-products">Add Products</a>
            </div>
          </li>
      
          <li class="menu-item">
            <a class="menu-link" href="/admin/view-user">
              <i class="icon material-icons md-person"></i>
              <span class="text">Users</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="/admin/category">
              <i class="icon material-icons md-store"></i>
              <span class="text">Category</span>
            </a>
          </li>
          <li class="menu-item has-submenu">
            <a class="menu-link" href="/admin/add-coupon"> <i class="icon material-icons md-stars"></i>
                <span class="text">Coupon</span> </a>
            </a>
            <div class="submenu">
                <a href="/admin/view-coupon">Coupons</a>
                <a href="/admin/add-coupon">Add Coupon</a>
            </div>
        </li>
          <li class="menu-item has-submenu">
            <a class="menu-link" href="/admin/banner">
              <i class="icon material-icons md-shopping_bag"></i>
              <span class="text">Banner</span>
            </a>
            <div class="submenu">
              <a href="/admin/banner-list">Banners</a>
              <a href="/admin/add-banner">Add Banners</a>
            </div>
          </li>

          <li class="menu-item">
            <a class="menu-link" href="/admin/order-management">
              <i class="icon material-icons md-shopping_cart"></i>
              <span class="text">Orders</span>
            </a>
          </li>
          
        </ul>
        <hr />
        <ul class="menu-aside">
          <li class="menu-item ">
            <a class="menu-link" href="/admin/sales-report">
              <i class="icon material-icons md-settings"></i>
              <span class="text">Sales Report</span>
            </a>
          </li>
        </ul>
        <br />
        <br />
      </nav>
    </aside>
    <main class="main-wrap">
      <header class="main-header navbar">
       <div class="col-search">
          <form class="searchform">
           <%#  <div class="input-group">
              <input
                list="search_terms"
                type="text"
                class="form-control"
                placeholder="Search term"
              />
              <button class="btn btn-light bg" type="button">
                <i class="material-icons md-search"></i>
              </button>%>
            </div>
            <datalist id="search_terms">
              <option value="Products"></option>
              <option value="New orders"></option>
              <option value="Apple iphone"></option>
              <option value="Ahmed Hassan"></option>
            </datalist>
          </form>
        </div>
        <div class="col-nav">
          <button
            class="btn btn-icon btn-mobile me-auto"
            data-trigger="#offcanvas_aside"
          >
            <i class="material-icons md-apps"></i>
          </button>
          <ul class="nav">
            
            <li class="nav-item">
              <a class="nav-link btn-icon darkmode" >
                <i class="material-icons md-nights_stay"></i>
              </a>
            </li>
            <!-- <li class="nav-item">
              <a href="#" class="requestfullscreen nav-link btn-icon"
                ><i class="material-icons md-cast"></i
              ></a>
            </li> -->
           
            <li class="dropdown nav-item">
              <a
                class="dropdown-toggle"
                data-bs-toggle="dropdown"
                href="#"
                id="dropdownAccount"
                aria-expanded="true"
              >
                <div
                  class="img-xs rounded-circle"
                  style="background-color: #088178"
                  alt="User"
                ></div
              ></a>
              <div
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="dropdownAccount"
              >
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-danger" href="/admin/logout"
                  ><i class="material-icons md-exit_to_app"></i>Logout</a
                >
              </div>
            </li>
          </ul>
        </div>
      </header>
      <%#
    </main>
  </body>
</html>
%>
